* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: inherit;
}
ul {
  list-style: none;
}
img {
  display: block;
  width: 100%;
}
.view {
  max-width: 540px;
  min-width: 320px;
  margin: 0 auto;
}
.view .xc_service .xc_common {
  display: flex;
  height: 90px;
  margin-bottom: 5px;
  margin-top: 5px;
  color: #FFFFFF;
}
.view .xc_service .xc_common .hotel_img {
  display: flex;
  flex: 1;
  border-radius: 5px 0 0 5px;
  justify-content: center;
}
.view .xc_service .xc_common .hotel_img a {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.view .xc_service .xc_common .hotel_img a span:nth-child(2) {
  width: 43px;
  height: 43px;
  background: url("../img/xc_sprites.png") no-repeat 0 -130px;
  background-size: 104px 327.5px;
}
.view .xc_service .xc_common .hotel_nav {
  display: flex;
  flex: 2;
  border-radius: 0 5px 5px 0;
  flex-wrap: wrap;
}
.view .xc_service .xc_common .hotel_nav a {
  display: flex;
  width: 50%;
  height: 50%;
  justify-content: center;
  align-items: center;
  border-left: 1px solid #FFFFFF;
}
.view .xc_service .xc_common .hotel_nav a:nth-child(1) {
  border-bottom: 1px solid #FFFFFF;
}
.view .xc_service .xc_common .hotel_nav a:nth-child(2) {
  border-bottom: 1px solid #FFFFFF;
}
.view .xc_service .xc_common .hotel_bg {
  background: #fa7f50;
}
.view .xc_service .xc_common .fare_bg {
  background: #3d98ff;
}
.view .xc_service .xc_common .fare_bg a span:last-child {
  background: url("../img/xc_sprites.png") no-repeat 0 -298px;
  background-size: 104px 327.5px;
}
.view .xc_service .xc_common .travel_bg {
  background: #44c522;
}
.view .xc_service .xc_common .travel_bg a span:last-child {
  background: url("../img/xc_sprites.png") no-repeat 0 -240px;
  background-size: 104px 327.5px;
}
.view .xc_nav {
  display: flex;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 12px;
  flex-wrap: wrap;
}
.view .xc_nav a {
  display: flex;
  width: 20%;
  flex-direction: column;
  padding: 5px;
  align-items: center;
}
.view .xc_nav a span:first-child {
  width: 28px;
  height: 28px;
  background: url("../img/un_ico_subnav_v7.124@2x.png") no-repeat 0 5px;
  background-size: 24px 300px;
}
.view .xc_nav a .insure_bg {
  background: url("../img/un_ico_subnav_v7.124@2x.png") no-repeat 5px -22px !important;
  background-size: 24px 300px !important;
}
.view .xc_nav a .money_bg {
  background: url("../img/un_ico_subnav_v7.124@2x.png") no-repeat 4px -51px !important;
  background-size: 24px 300px !important;
}
.view .xc_nav a .shop_bg {
  background: url("../img/un_ico_subnav_v7.124@2x.png") no-repeat 3px -273px !important;
  background-size: 24px 300px !important;
}
.view .xc_nav a .guide_bg {
  background: url("../img/un_ico_subnav_v7.124@2x.png") no-repeat 3px -81px !important;
  background-size: 24px 300px !important;
}
.view .xc_nav a .free_bg {
  background: url("../img/un_ico_subnav_v7.124@2x.png") no-repeat 6px -137px !important;
  background-size: 24px 300px !important;
}
.view .xc_nav a .overseas_bg {
  background: url("../img/un_ico_subnav_v7.124@2x.png") no-repeat 4px -167px !important;
  background-size: 24px 300px !important;
}
.view .xc_nav a .gift_bg {
  background: url("../img/un_ico_subnav_v7.124@2x.png") no-repeat 3px -109px !important;
  background-size: 24px 300px !important;
}
.view .xc_nav a .card_bg {
  background: url("../img/un_ico_subnav_v7.124@2x.png") no-repeat 3px -194px !important;
  background-size: 24px 300px !important;
}
.view .xc_nav a .more_bg {
  background: url("../img/un_ico_subnav_v7.124@2x.png") no-repeat 5px -244px !important;
  background-size: 24px 300px !important;
}
.view .sell {
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 5px;
  padding: 5px;
}
.view .sell .sell_title {
  display: flex;
  padding-bottom: 5px;
  justify-content: space-between;
}
.view .sell .sell_title em {
  font-size: 16px;
  font-weight: 600;
  color: #fd3c52;
}
.view .sell .sell_title a {
  font-size: 12px;
  color: #FFFFFF;
  background-image: linear-gradient(to right, #ff6b7d, #ff84d2);
  border-radius: 10px;
  padding: 2px 8px;
}
.view .sell .sell_content {
  display: flex;
}
.view .sell .sell_content .content_left {
  flex: 1;
}
.view .sell .sell_content .content_left a:nth-child(2) {
  overflow: hidden;
  display: block;
  height: 42px;
  font-size: 14px;
  padding-top: 4px;
  line-height: 19px;
}
.view .sell .sell_content .content_left .price span:first-child {
  color: #fe4f5e;
}
.view .sell .sell_content .content_left .price span:last-child {
  background: #fd3a51;
  color: #FFFFFF;
  font-size: 12px;
  border-radius: 8px;
  padding: 1px 4px;
}
.view .sell .sell_content .content_right {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
}
.view .sell .sell_content .content_right a:nth-child(1) {
  width: 100%;
  height: 105px;
  background: #f9f9f9;
  position: relative;
  padding: 10px 0 0 10px;
}
.view .sell .sell_content .content_right a:nth-child(1) span {
  font-weight: 600;
  color: #fd3a51;
}
.view .sell .sell_content .content_right a:nth-child(1) img {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 54px;
  height: 71px;
}
.view .sell .sell_content .content_right a:nth-child(2) {
  display: flex;
  width: 50%;
  height: 105px;
  background: #f9f9f9;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-top: 5px solid #FFFFFF;
  border-left: 5px solid #FFFFFF;
  border-bottom: 5px solid #FFFFFF;
}
.view .sell .sell_content .content_right a:nth-child(2) span {
  font-weight: 600;
  color: #6aabff;
}
.view .sell .sell_content .content_right a:nth-child(2) img {
  width: 50px;
  height: 35px;
}
.view .sell .sell_content .content_right a:nth-child(3) {
  display: flex;
  width: 50%;
  height: 105px;
  background: #f9f9f9;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-top: 5px solid #FFFFFF;
  border-left: 5px solid #FFFFFF;
  border-bottom: 5px solid #FFFFFF;
}
.view .sell .sell_content .content_right a:nth-child(3) span {
  font-weight: 600;
  color: #68d2bc;
}
.view .sell .sell_content .content_right a:nth-child(3) img {
  width: 50px;
  height: 35px;
}
.view .hot_active {
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 5px;
  padding: 5px;
}
.view .hot_active .active_title {
  display: flex;
  padding-bottom: 5px;
  justify-content: space-between;
}
.view .hot_active .active_title em {
  font-size: 16px;
  font-weight: 600;
  color: orange;
}
.view .hot_active .active_title a {
  font-size: 12px;
  color: #FFFFFF;
  background-image: linear-gradient(to right, #ff6b7d, #ff84d2);
  border-radius: 10px;
  padding: 2px 8px;
}
.view .hot_active .active_content {
  display: flex;
  flex-wrap: wrap;
}
.view .hot_active .active_content a {
  width: 50%;
}
.view .footer {
  border: 1px solid #CCCCCC;
  border-radius: 5px;
  margin: 5px 0;
}
.view .footer .way {
  display: flex;
  justify-content: space-around;
}
.view .footer .way a {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.view .footer p {
  text-align: center;
}
